// Import Foundation and Motion-UI
@import 'foundation';
@import 'motion-ui';
@include motion-ui-transitions;
@include foundation-everything;
@include orbit-slide;
@include orbit-container;

$Blue-color: #252839;
$Gray: #677077;
$LightGray: #b5b5b7;
$Yellow: #b5b5b7;


body {
  background: #747D7D;
}
.slider{
  width: 50%;
  margin: 20px auto;
 
}
.orbit-container{
  padding-bottom: 90%;
}
.orbit-slide{
  padding-top: 30%;
}

// .container {
//   width: 600px;
//   margin: 15px auto;
//   border: 1px solid white;
//   text-align: center;
// }
.login{
  width: 50%;
  margin: 20px auto;
  text-align: center;
}
.signUp{
  width: 50%;
  margin: 20px auto;
  text-align: center;
}
.dropdown{
  width: 100%;
}