// Import Foundation and Motion-UI
@import 'foundation';
@import 'motion-ui';
@import 'font-awesome';
@import url(https://fonts.googleapis.com/css?family=Raleway);
@include motion-ui-transitions;
@include foundation-everything;
@include orbit-slide;
@include orbit-container;
@include orbit-next;
@include orbit-previous;
@include orbit-bullets;

$Blue: #252839;
$Gray: #677077;
$lightGray: #b5b5b7;
$Yellow: #f2b632;


body {
 background: $lightGray;
}

.landingPage{
  width: 100%;
  height: 85vh;
  background-color: #2DDD72;
  font-size: 5em;
  .insideComputer{
    width: 48%;
    padding: 5% 0 0 4%;
  }
  .computerImage{
    position: absolute;
    padding-bottom: 2%;
    width: 48%;
  }

  .orbit{
    position: relative;
    top: 2em;
    left: 15%;
    width: 80%;
    font-size: 12px;
    .orbit-bullets{
      padding-top: 38%;
    }
  }
  .landingRight{
    float: right;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-right: 10%;
    margin-top: -20%;
    img{
      width: 1.5em;
    }
    h5{
      padding: 0;
      margin-top: -10%;
      margin-left: 30%;
      color: $Blue;
    }
    button{
      background: inherit;
      border: 3px solid $Yellow;
      border-radius: 5px;
      font-size: 0.4em;
      margin-top: 15%;
      margin-left: 12%;
      &:hover{
        color: $Blue;
        border: 3px solid $Blue;
      }
    }
  }
  .bottom{
    font-size: 0.3em;
    color: white;
    text-align: center;
    margin-top: 17%;
    ul{
      list-style: none;
    }
    li{
      display: inline-block;
      padding-right: 5%;
      color: white;
      &:hover{
        color: $Blue;
      }
    }
  }
}

  .orbit-container{
    padding-bottom: 10%;
  }




.login{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border: 1px solid black;
}
.signUp{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border: 1px solid black;
}

.dropdown{
  width: 100%;
}

.addUser{
  width: 50%;
  margin: 0 auto;
}

.userHomePage{
  text-align: center;
  a{
    color: $Yellow;
  }
  div{
    display: inline-block;
    margin: 3%;
    border-radius: 5px;
    height: 30em;
    width: 40%;
    h3{
      border-bottom: 1px solid $Blue;
      width: 75%;
      margin: 2% auto;
    }
    &:hover{
      border: 2px solid $Blue;
    }
  }
  .pantry{
    border: 1px solid $Blue;
  }
  .groceryList{
    border: 1px solid $Blue;
  }
}

@media all and (max-width: 1000px) {
  .userHomePage div{
    width: 90%;
  }
}








.groceryList{
  width: 50%;
  border: 1px solid white;
  margin: 2% auto;
  i{
    float: right;
    margin-right: 5%;
  }
  .fa-check-circle-o{
    color: #57B65C;
  }
  .fa-trash-o{
    color: #BD312E;
  }
  h3{
    text-align: center;
  }
  ul{
    list-style: none;
    font-size: 1.2em;
  }
  .button{
    text-align: center;
    display: block;
    margin-left: 35%;
    width: 15em;
  }
}

.crossOut {
  text-decoration: line-through;
  opacity: 0.3;
}

.notCrossedOut {
  text-decoration: none;
}



