// Import Foundation and Motion-UI
@import 'foundation';
@import 'motion-ui';
@import 'font-awesome';
@include motion-ui-transitions;
@include foundation-everything;
@include orbit-slide;
@include orbit-container;
@include orbit-next;
@include orbit-previous;
@include orbit-bullets;
$Blue: #252839;
$Gray: #677077;
$lightGray: #b5b5b7;
$Yellow: #f2b632;



body {
 background: $Gray;
}
.slider{
  width: 50%;
  margin: 20px auto;
 
}

.orbit-container{
  padding-bottom: 80%;
}

.orbit-bullets{
  padding-top: 0;
}
.login{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border: 1px solid black;
}
.signUp{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border: 1px solid black;
}

.dropdown{
  width: 100%;
}


.userHomePage{
  text-align: center;
  a{
    color: $Yellow;
  }
  div{
    display: inline-block;
    margin: 3%;
    border-radius: 5px;
    height: 30em;
    width: 40%;
    h3{
      border-bottom: 1px solid $Blue;
      width: 75%;
      margin: 2% auto;
    }
    &:hover{
      border: 2px solid $Blue;
    }

  }
  .pantry{
    border: 1px solid $Blue;
  }
  .groceryList{
    border: 1px solid $Blue;

  }
}

@media all and (max-width: 1000px) {
  .userHomePage div{
    width: 90%;
  }
}

.groceryList{
  width: 50%;
  border: 1px solid white;
  margin: 2% auto;
  i{
    float: right;
    margin-right: 5%;
  }
  .fa-check-circle-o{
    color: #57B65C;
  }
  .fa-trash-o{
    color: #BD312E;
  }
  h3{
    text-align: center;
  }
  ul{
    list-style: none;
    font-size: 1.2em;
  }
  .button{
    text-align: center;
    display: block;
    margin-left: 35%;
    width: 15em;
  }
}

.crossOut {
  text-decoration: line-through;
  opacity: 0.3;
  
}
.notCrossedOut {
  text-decoration: none;
}


<<<<<<< HEAD

=======
.dropdown{
  width: 100%;
}
.addUser{
  width: 50%;
  margin: 0 auto;
}
>>>>>>> master
