<div class="top-bar">
  <nav data-topbar role="navigation">

    <section class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li><button pantry type="button" class="button">Pantry</button></li>
        <li><a href="/#home">SmartCart</a></li>
      </ul>
    </section>

    <section class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <button><i class="fa fa-plus-square-o"></i></button>
          <ul class="menu">
            <li><a href="/#list">Add List</a></li>
            <li><a href="/#pantry">Add Pantry</a></li>
            <li><a href="#">Add User</a></li>
          </ul>
        </li>
        <li><a href="/#home">Home</a></li>
        <li><a href="/#login">Login(temp)</a></li>
        <li><a href="/#list">My List(temp)</a></li>
        <li><a href="/#pantry">My Pantry(temp)</a></li>
        <li><a href="/#contact">Contact Us</a></li>
      </ul>  
    </section>
  </nav>
</div>

<div id="pantry-list" class="callout hide-pantry">
  <div class="row">
    <h5 class="small-6 float-center">Pantry List</h5>  
    <hr>
    <ul class="small-8 vertical menu">
      <li><p>Listed Item</p><i class="fa fa-check"></i></li>
      <li><p>Listed Item</p><i class="fa fa-times"></i></li>
      <li><p>Listed Item</p><i class="fa fa-check"></i></li>
      <li><p>Listed Item</p><i class="fa fa-check"></i></li>
      <li><p>Listed Item</p><i class="fa fa-times"></i></li>
    </ul>
  </div>
</div>

<div class="container" ui-view></div>