<div class="top-bar">
  <nav data-topbar role="navigation">

    <section class="top-bar-left">
      <ul class="menu">
        <li class="name">
          <h1><a href="/">SmartCart</a></h1>
        </li>
      </ul>
    </section>

    <section class="top-bar-right">
      <ul class="horizontal menu">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/list">My List</a></li>
        <li><a href="#/pantry">My Pantry</a></li>
      </ul>  
    </section>
  </nav>
</div>

<div class="container" ui-view></div>