<div class="top-bar">
  <nav data-topbar role="navigation">

    <section class="top-bar-left">
        
        <a href="/#home"><img ng-src="../images/smartcartlogo.png"></a>

    </section>

    <section class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>       
        <li><h3>{{vm.house}}</h3></li>
        <li><button id="user-btn" user type="button" class="button"> {{vm.name}}</button></li>
        
      </ul>  
    </section>
  </nav>
</div>

<div id="user" class="callout hide-user">
  <div class="row">
    <h5 class="small-12 float-center">{{vm.name}}  Menu</h5>  
    <hr>
    <ul class="small-12 vertical menu">
      <li class="users-list" add-user>Add User To House</li>
      <div id="add-user" class="hide-user">
        <input type="email" placeholder="Email">
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="First Name">
          <a class="input-group-button button success"><i class="fa fa-plus"></i></a>
          <a add-user class="input-group-button button">Done</a>
        </div>
      </div>
      <li><i class="fa fa-home"></i><a href="/#home">Go Home</a></li>
      <li><i class="fa fa-shopping-cart"></i><a href="/#list">View Grocery List</a></li>
      <li><i class="fa fa-list"></i><a href="/#pantry">View Pantry</a></li>
      <li><i class="fa fa-envelope"></i><a href="/#contact">Contact Us</a></li>
      <li ng-click="vm.showForm()" class="changePass"><span>Change Password</span>
        <form ng-show="vm.taco(cheese)" ng-submit="vm.changePass(pass)">
        <input type='password' ng-model="pass.password" placeholder="Old Password">
        <input type="password" ng-model="pass.new_password" placeholder="New Password">
        <button type="submit" class="button">Change</button><span class="button cancelPass">Cancel</span>
        </form>
      </li>
      <li ng-click="vm.logOut()">Log Out</li>
    </ul>
  </div>
</div>

<div class="container" ui-view></div>

