<div class="aboutPage">
  <h2>How SmartCart Works</h2>
  <div class="row">
    <div class="medium-4 small-12 columns">
      
      <div class="service">
        <div class="service-icon-box">
          <img src="https://image.freepik.com/free-icon/house_318-64534.png" alt="" class="service-icon">
        </div>
        <h4 class="service-heading">Add Your Household</h4>
        <p class="service-description">Once you add the members you'd like to share your SmartCart with, everyone will be able to view and update the same lists.</p>
      </div>
      
    </div>

    <div class="medium-4 small-12 columns">
    
      <div class="service">
        <div class="service-icon-box">
          <img src="https://ifinditchicago.files.wordpress.com/2011/08/food-icon-1.png" alt="" class="service-icon">
        </div>
        <h4 class="service-heading">Fill Up Your Pantry</h4>
        <p class="service-description">Add in everything that you want to keep track of. Items that you mark as a necessity will be automatically added to your grocery list when they fall below the desired quantity.</p>
      </div>
    
    </div>

    <div class="medium-4 small-12 columns">
    
      <div class="service">
        <div class="service-icon-box">
          <img src="../images/logo.png" alt="" class="service-icon">
        </div>
        <h4 class="service-heading">Go Shopping</h4>
        <p class="service-description">When it's time to stock up, add anything else you need to your shopping list. Anything you check off the list will be automatically added to your pantry!</p>
      </div>

    
    </div>
    


  </div>
      <div class="row aboutBtn">
      <a class="button medium-4 small-8" href="#/login">Let's Go!</a>
        
      </div>

    
</div>