<div class="contact row">
  
  <h3>SmartCart was created by these four gents:</h3>
  <div class="contactUs medium-3 small-12 columns">
    <h4>Luke Griffith</h4>
    <img src="https://avatars2.githubusercontent.com/u/14094728?v=3&s=460">
    <a href="#">Portfolio</a>
  </div>
  <div class="contactUs medium-3 small-12 columns">
    <h4>Isaac Hardy</h4>
    <img src="https://avatars1.githubusercontent.com/u/10745699?v=3&s=460">
    <a href="#">Portfolio</a>
  </div>
    <div class="contactUs medium-3 small-12 columns">  
    <h4>Kevin Mooney</h4>
    <img src="https://avatars3.githubusercontent.com/u/14320125?v=3&s=460">
    <a href="#">Portfolio</a>
  </div>
  <div class="contactUs medium-3 small-12 columns">
    <h4>Carl Westmoreland</h4>
    <img src="https://avatars2.githubusercontent.com/u/14590036?v=3&s=460">
    <a href="#">Portfolio</a>
  </div>
</div>