<div class="userHomePage">

  <div class="side quickLinks">
      

    <div class="quickNav">
      <a href="/#pantry">
        <img ng-src='../images/eggplant.png'>
        <p>Edit Pantry</p>
      </a>
    </div>
    
    <div class="quickNav">
      <a href="/#list">
        <img ng-src='../images/apple.png'>
        <p>Edit Grocery List</p>
      </a>
    </div>

  </div>

  
  <div class="side bothLists">
    <p class="pantryTitle title dark">Current Pantry</p>
    <p class="grocTitle title lighten">Grocery List</p>

    <div class="list pantryList dark">
      <table style="width: 100%">
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Quantity in Pantry</th>
          <th>Quantity Preferred</th>
          <th>Necessity</th>
        </tr>
        <tr ng-repeat="i in vm.pantryItems">
          <td>{{i.title}}</td>
          <td>{{i.category}}</td>
          <td>{{i.quantity}}</td>
          <td>{{i.preferred}}</td>
          <td>{{i.necessity}}</td>
        </tr>
      </table>
      <a href="/#pantry"><img ng-src='../images/eggplant.png'></a>

    </div>

    <div class="list groceryList dark hidden">
      <table style="width: 100%">
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Quantity in Pantry</th>
          <th>Quantity Preferred</th>
          <th>Necessity</th>
        </tr>
        <tr ng-repeat="i in vm.items">
          <td>{{i.title}}</td>
          <td>{{i.category}}</td>
          <td>{{i.quantity}}</td>
          <td>{{i.preferred}}</td>
          <td>{{i.necessity}}</td>
        </tr>
      </table>
      <a href="/#list"><img ng-src='../images/apple.png'></a>
      
    </div>  
   
  </div>
        
</div>