<!-- <div class="logo row">
  <img class="cart-img small" ng-src="../images/smartcartlogo.png">  
</div>

<div class="slideArea row">
  <div class="orbit small" data-orbit data  -options="autoPlay: false">
    <ul class="orbit-container">  
      <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
      <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>  

      <li class="is-active orbit-slide">
        <img ng-src="../images/step1.png">
        <p>There is no limit on number of users per account. All users will have access to the household grocery list and pantry.</p>
      </li>
      <li class="orbit-slide">
        <img ng-src="../images/step2.png">
      </li>
      <li class="orbit-slide">
        <img ng-src="../images/step3.png">
      </li>
    </ul>

    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    </nav> 
    <hr> 
  </div>
</div>


<div class="signUp row">
  <button class="button create float-center">Create a new Account!</button ng-click="joinUs()"> 
</div>



<div class="bottom row">
  <ul>
    <li><a href="#/contact">Contact Us</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/login">LogIn</a></li>
  </ul>
</div> -->

<div class="landingPage">
  <div class="logo">
    <img class="cart-img" ng-src="../images/smartcartlogo.png">  
  </div>

  <div class="productDescription">
    <hr>
    <img ng-src="../images/step1.png">
    <img ng-src="../images/step2.png">
    <img ng-src="../images/step3.png">
    <hr>
  </div>

  <div class="signUp">
    <a class="button" href="#/login">Create a new Account!</a> 
  </div>

  <ul class="landingInfo">
    <li><a href="#/contact">Contact Us</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/login">LogIn</a></li>
  </ul>
 
</div>


