<div class="landingPage">
  <div class="logo">
    <img class="cart-img" ng-src="../images/smartcartlogo.png">  
  </div>

  <div class="productDescription">
    <hr>
    <a href="#/login">
    <img ng-src="../images/step1.png">
    <img ng-src="../images/step2.png">
    <img ng-src="../images/step3.png">
    </a>
    <hr>
  </div>

  <div class="signUp">
    <a class="button" href="#/login">Create a new Account!</a> 
  </div>

  <ul class="landingInfo">
    <li><a href="#/contact">Contact Us</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/login">LogIn</a></li>
  </ul>
</div>


