

<div class="login row">
<ul class="vertical menu" data-accordion-menu>
  <li class="small-12 large-6 columns">
    <a href="#">Log In</a>
    <ul class="menu vertical nested">
      <li>
          <form ng-submit="vm.login(user)">
          <input type="text" ng-model="user.username" placeholder="Username">
          <input type="password" ng-model="user.password" placeholder="Password">
          <button data-close aria-label="Close reveal" class="button">Log In</button>
        </form>
      </li>
  </ul>
</li>
<li class="small-12 large-6 columns">
  <a href="#">Sign Up</a>
    <ul class="menu vertical nested">
      <li>
         <form ng-submit="vm.signUp(newUser)">
            <input type="email" ng-model="newUser.email" placeholder="Email">
            <input type="text" ng-model="newUser.username" placeholder="Username">
            
            <input type="password" ng-model="newUser.password" placeholder="Password">
            <button class="button">Sign Up</button>
         </form>
      </li>
    </ul>
  </li>
</ul>
</div>      


      