<div class="mainGroceryList">
  <h3>Current Pantry List</h3>

    <button class="button addItem addPanItem">Add an Item</button>
    


  <div class="panAdd">  
  <ul>
    <li>
      <form ng-submit="vm.addNewItem(food)">
        <input class="addPanItem" ng-model="food.title" placeholder="New Item" required>
        <select class="addPanItem" ng-model="food.quantity">
          <option value="" disabled selected>Qty</option>  
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>

        <select class="addPanItem" ng-model="food.category">
          <option value="" disabled selected>Category</option>  
          <option value="Produce">Produce</option>
          <option value="Deli">Deli</option>
          <option value="Meats">Meats</option>
          <option value="Spices">Spices</option>
          <option value="Baking">Baking</option>
          <option value="Breakfast">Breakfast</option>
          <option value="Snacks">Snacks</option>
          <option value="Sweets">Sweets</option>
          <option value="Grains">Grains & Pasta</option>
          <option value="Frozen">Frozen Foods</option>
          <option value="Beverages">Beverages</option>
          <option value="Hygiene">Hygeine</option>
          <option value="Household">Household Items</option>
          <option value="Dairy">Dairy</option>
          <option value="Other">Other</option>
        </select>
      
        <select class="addPanItem" ng-model="food.preferred">
          <option value="" disabled selected>Preffered Amt</option>  
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>



        <select class="addPanItem" ng-model="food.necessity">
          <option value="" disabled selected>Necessity?</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>

        <button class="button   addPanItem">Submit</button>
      </form>
      

    </li>
    <button class="button doneAdding">Done Adding</button>
    </div>
    

    <li ng-repeat="object in vm.pantryList" ng-dblClick="vm.editItem()" ng-class="{'crossOut' : hasFoodItem, 'notCrossedOut' : !hasFoodItem}">

      <input class="checkIt" type="checkbox" id="check1">
      <label for="check1" ng-click="hasFoodItem = !hasFoodItem" ng-mouseOver="showDelete = !showDelete"></label>
      

      
      <strong>Item:</strong> {{ object.title }} {{ object.quantity }}<br>



      <i class="fa fa-close fa-lg" ng-click="vm.removeItem(object)"></i>

      <hr>

    </li>
  </ul>



 <!--  <button class="button addToPantry" ng-click="vm.addItemsToPantry()">Add Items to Pantry</button>
  <button class="button clearCompleted" ng-click="vm.clearCompleted()">Clear Completed Items</button> -->
</div>




